export(DEMICel)
export(DEMIClust)
export(DEMIDiff)
export(DEMIExperiment)
export(DEMIGroup)
export(DEMIPathway)
export(addCustomTargets)
export(addCytoband)
export(adjust4maxprobes)
export(calcHypergeoExon)
export(calcHypergeoProb)
export(cleanorganismname)
export(demi)
export(demi.comp.test)
export(demi.t.test)
export(demi.wilcox.test)
export(demi.wilcox.test.fast)
export(demiequal)
export(findCytoband)
export(makeDEMIResultsTable)
export(makeUCSCLink)
export(matchExonGene)
export(totalMatches_all)
export(totalMatches_cluster)
export(wprob)
exportClasses(DEMICel)
exportClasses(DEMIClust)
exportClasses(DEMIDiff)
exportClasses(DEMIExperiment)
exportClasses(DEMIGroup)
exportClasses(DEMIResult)
exportMethods(attachResult)
exportMethods(celMatrixNormalize)
exportMethods(check4probe)
exportMethods(check4target)
exportMethods(cluster)
exportMethods(createGroup)
exportMethods(customObject)
exportMethods(demisummary)
exportMethods(diffexp)
exportMethods(getAlignment)
exportMethods(getAnalysis)
exportMethods(getAnnotation)
exportMethods(getArraytype)
exportMethods(getCelMatrix)
exportMethods(getCelpath)
exportMethods(getClustMethod)
exportMethods(getCluster)
exportMethods(getCutoffPvalue)
exportMethods(getCytoband)
exportMethods(getDEMIClust)
exportMethods(getExperiment)
exportMethods(getGroup)
exportMethods(getGroupA)
exportMethods(getGroupB)
exportMethods(getGroupNames)
exportMethods(getIndexA)
exportMethods(getIndexB)
exportMethods(getMaxprobes)
exportMethods(getMaxtargets)
exportMethods(getName)
exportMethods(getNormMatrix)
exportMethods(getOrganism)
exportMethods(getPathway)
exportMethods(getProbeLevel)
exportMethods(getResult)
exportMethods(getResultTable)
exportMethods(getTargetAnnotation)
exportMethods(getTargetProbes)
exportMethods(loadAnnotation)
exportMethods(loadBlat)
exportMethods(loadCel)
exportMethods(loadCytoband)
exportMethods(loadDEMILibrary)
exportMethods(loadPathway)
exportMethods(norm.rrank)
exportMethods(probe.levels)
exportMethods(probe.plot)
